@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.swiper-pagination {
	max-width: fit-content !important;
	background-color: white;
	bottom: 23px !important;
	position: relative !important;
	left: unset !important;
	margin-left: auto;
	margin-right: auto;
}
